body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    user-select: none;
}

#news-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Penting: agar layer ini tidak bisa di-klik oleh player */
}

#web-overlay {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
}